@charset "UTF-8";
article{
    width: 72%;
}
aside{
    width:22%;
}
.member_contents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.menu{
    margin-bottom: 50px;
    border-bottom: 2px rgb(232, 193, 38) solid;
}
.menu_list a{
    color:#432;
}
.menu_list a:hover{
    color:#0bd;
}